#header {
    background-color:#4682B4;
    color:white;
    text-align:center;
    padding:5px;
}
#nav {
    line-height:30px;
    background-color: #3E4650;
    /*height:300px;
    width:100px;
    float:left;
    padding:5px;*/
    color:white;
}
#section {
    background-color:#C5EFFF;
    /*width:1150px;*/
    /*height:300px;*/
   /* float:left;
    padding:5px;*/
}
#footer {
    background-color:#4682B4;
    color:white;
    clear:both;
    text-align:center;
    padding:5px;
}

