/*#header {
    background-color:#59afd1;
    color:white;
    text-align:center;
    padding:5px;
    height: 80px;
    font-family: Arial,Helvetica,sans-serif;
    font-weight: bold;
}
#nav {
    line-height:30px;
    background-color: #3E4650;
    height:300px;
    width:100px;
    float:left;
    padding:5px;
    max-height: 500px;
    color:white;
    height: 100%;
}
#navbar{
}
#section {
    background-color:#C5EFFF;
    width:1150px;
    height: 100%;
    max-height: 500px;
    overflow:auto;
    float:left;
    padding:5px;
    font-family: Arial,Helvetica,sans-serif;

}
#footer {
    background-color:#59afd1;
    color:white;
    clear:both;
    text-align:center;
    padding:5px;
    height: 30px;
    font-family: Arial,Helvetica,sans-serif;
    font-weight: bold;
}

#table_id_filter{
    float: left;
}
#table_id_length{
    float: right;
}
#table_id_wrapper{
    margin-top: 10px;
}*/